<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
  <form  [formGroup]="checkOutForm">

    <div class="mb-2">
      <label for="details">details :</label>
<textarea formControlName="details" type="text" id="details" class="form-control"></textarea>

    <div class="alert alert-danger" *ngIf="checkOutForm.get('details')?.errors && checkOutForm.get('details')?.touched" >
      <p *ngIf=" checkOutForm.get('details')?.getError('required') ">details is Required</p>

    </div>
    </div>




    <div class="mb-2">
      <label for="phone">phone :</label>
    <input formControlName="phone" type="tel" id="phone" class="form-control">

    <div class="alert alert-danger" *ngIf="checkOutForm.get('phone')?.errors && checkOutForm.get('phone')?.touched" >
      <p *ngIf=" checkOutForm.get('phone')?.getError('required') ">phone is Required</p>
      <p *ngIf=" checkOutForm.get('phone')?.getError('pattern') ">phone must be an Egyption number</p>


    </div>
    <div class="mb-2">
      <label for="city">city :</label>
    <input formControlName="city" type="text" id="city" class="form-control">

    <div class="alert alert-danger" *ngIf="checkOutForm.get('city')?.errors && checkOutForm.get('city')?.touched" >
      <p *ngIf=" checkOutForm.get('city')?.getError('required') ">city is Required</p>

    </div>
    </div>

    </div>
  </form>
<button (click)="handleForm()"  class="btn-main mt-2">Checkout</button>
</section>

